.predictionMapGroup {
    display: flex;
    flex-direction: row;
    gap: 15px;
    inline-size: 100%;
}

.predictionMapCard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    block-size: 320px;
}
