.status_ok {
    color: green;
}

.outerContainer {
    margin-block-start: 3rem;
}

.errorContainer {
    margin-inline-end: 4rem;
    max-inline-size: 900px;

    overflow-x: auto;
}

.container {
    padding: 0rem;
}

.settingsTable {
    border-collapse: collapse;
    border: none;
    margin-bottom: 2rem;
}

table {
    border-collapse: collapse;
}

.cellTable {
    padding: 0.5rem;
    border: none;
}

th {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.status_not_ok {
    color: rgb(175, 64, 64);
}
