.pillWrapper {
    display: inline-block;
}

.pill {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
}

.default .pill {
    color: #1F2937;
    border: 1px solid #c9cbcf;
}

.destructive .pill {
    color: #991B1B;
    border: 1px solid #f43f5e;
}

.info .pill {
    color: #2d468f;
    border: 1px solid #7bb7fb;
}

.warning .pill {
    color: #92400E;
    border: 1px solid #f59e0b;
}

.success .pill {
    color: #065F46;
    border: 1px solid #0cb182;
} 