.datasetDetailsWrapper {
    display : grid;
    gap : 0.5rem;
    margin: 20px;
}

.datasetDetailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    font-weight: bold;
}