.legend {
    inline-size: 50%;
    margin: auto;
}

.legendSymbols {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.legendTitle {
    font-style: italic;
    text-align: center;
    margin-block-end: 10px;
}

.classItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.classSymbol {
    inline-size: 30px;
    block-size: 1rem;
    outline: black solid 1px;
}

.classLabel {
    color: black;
}
