.jobPredictionPanelContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1.8rem;
}

.boxPanel {
    border: 1px solid #cecece;
    border-radius: 0px;
    box-shadow: 0 0 1.5px 0 #c0c0c0;
    margin: 0 0 12px 0;
    padding: 0.6rem;
}

.flexMedium {
    flex: 1 1 0;
}

.flexItemRight {
    text-align: right;
    flex: 1 1 0;
}

.inProgress {
    color: green;
    font-weight: 500;
}

.notStarted {
    color: orange;
    font-weight: 500;
}

.completed {
    color: green;
    font-weight: 500;
}

.failed {
    color: rgb(161, 11, 11);
    font-weight: 500;
}

.resultTextHeader {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 5px 0;
    padding: 0.6rem;
}

.evaluationModal {
    width: 95vw !important;
    height: 95vh !important;
}
