.innerNavBar{
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
    height: 100%;
}

.leftNavBarLinks{
    display: flex;
    justify-content: baseline;
}

.outerNavBar{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    background-color: #fff;
    height: 4rem;
    left: 0;
    right: 0;
    z-index: 1000;
}