.noticeBox {
    margin-top: 1rem;
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.details {
    color: black;
    margin-top: 0.5rem;
    font-weight: 400;
}

.button {
    font-weight: 400;
}
