.errorChap{
  text-align: right;
  color: red;
}

.errorBar{
  font-weight: 500;
  background-color: #f9f9f9;
  color: red;
  border: 2px solid #c9c9c9;
  padding: 1.2rem 1rem 1.2rem 1rem;
  margin-top: 1rem;
}

.errorHeader{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}

.detailedError{
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-size: 0.9rem;
}