
.orgUnitsSelction{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 10px;
}

.filter{
    min-width: 300px;
    background-color: #f2f2f2;
    padding: 1rem;
}

.plots{
    width: 100%;
}

.searchInput{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.filterTitle{
    font-size: 16px;
    font-weight: 600;
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
}