.orgUnitsSelction {
    display: flex;
    justify-content: space-between;
    margin-block-end: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-block-end: 10px;
    /*Struggling to find a good way of doing this. calc(-128px + 100vh) is what the DHIS2 modal uses for height, and 24px is the modal's padding.*/
    max-height: calc(-128px + 100vh - (24px * 2));
}

.filterContent {
    overflow: auto;
}

.filter {
    background-color: #f9f9f9;
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.plots {
    inline-size: 100%;
}

.searchInput {
    padding-inline: 1rem;
    padding-block-end: 1rem;
}

.filterTitle {
    font-size: 16px;
    font-weight: 600;
    margin-block: 1.25rem 0.25rem;
}
