.dataLineWrapper {
    display: flex;
    justify-content: left;
    align-items: end;
    padding-bottom: 1.5rem;
    gap: 1rem;
}

.selectField {
    flex: 1 0 0;
}

.buttonRight {
    display: flex;
    justify-content: right;
    margin-top: 3rem;
}

.selectDataLineWrapper {
    border: 1px solid rgb(160, 173, 186);
    border-radius: 0.3rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fdfdfd;
}

.predictLabel {
    font-weight: 500;
    flex: 0.5 0 0;
    height: 1.8rem;
}
