.newDatasetWrapper{
  padding: 2rem 3rem 2rem 3rem;
}

.newEvaluationDatasetTitle{
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navFooterOuter{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
}

.navFooter{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}