table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: start;
    padding: 0.2rem;
}

.dataValueTables {
    display: flex;
    max-inline-size: 500px;
    flex-direction: column;
    gap: 1.5rem;
}

.warning {
    color: orange;
    font-weight: 500;
}
