.timePeriodeSelector{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.timePeriodeSelectorInputFields{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.timePeriodeSelectorInputFieldsChild{
  flex : 1
}