.orgUnitsSelction {
    display: flex;
    justify-content: space-between;
    margin-block-end: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-block-end: 10px;
}

.filterCheckbox {
    overflow-x: auto;
    max-height: 500px;
}

.filter {
    min-inline-size: 300px;
    background-color: #f9f9f9;
    padding: 1rem;
}

.plots {
    inline-size: 100%;
}

.searchInput {
    padding-inline: 1rem;
    padding-block-end: 1rem;
}

.filterTitle {
    font-size: 16px;
    font-weight: 600;
    margin-block: 1.25rem 0.25rem;
}
