.jobLogs {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.logContent {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 4px;

    overflow-y: auto;
    height: 100%;
    width: 100%;
    white-space: none; /* optional: wraps long lines */
    font-family: monospace;
    font-size: 0.9rem;
}
