
.selector {
    flex-grow: 1;
}

.selectorWrapper {
    width: 100%;
}

.messageWrapper {
    padding: var(--spacers-dp8);
    font-size: 14px;
}

.evaluationOption span {
    font-size: 14px;
    color: var(--colors-grey600); 

}

:global(.active) .evaluationOption span {
    color: var(--colors-grey400)
}
