.container {
    margin: 0 0 1rem 0;
}

.pickers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pickers > div {
    /* width: 49%; */
    inline-size: 100%;
}

.pickers input {
    block-size: 36px;
}
