.modelSelectContainer {
    padding: 0px;
}

.modelSelectTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.loadingText {
    font-size: 1rem;
    color: gray;
}

.modelGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 16px;
    padding: 20px;
}

.modelCard {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #fff;
}

.modelCard:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

.selectedModelCard {
    background-color: #f0f8ff;
}

.selectedModelDetails {
    border: 1px solid rgb(160, 173, 186);
    border-radius: 7px;
    background-color: #f0f8ff;
    padding: 15px;
}

.modelAuthor {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #666;
}

.modelAuthorLogo {
    height: 32px;
    width: 32px;
    margin-right: 2px;
}

.modelAuthorName {
    font-weight: bold;
}

.modelHumanName {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8px 0;
}

.modelEmail {
    font-size: 0.9rem;
    color: #666;
}

.modelDescription {
    font-size: 0.9rem;
    color: #666;
}

.modelCovariates {
    font-size: 0.9rem;
    color: #666;
}

.modelCovariatesList {
    font-size: 0.8rem;
    color: #666;
    list-style: none;
    padding: 0;
    margin-top: 8px;
    margin-left: 5px;
}

.modelCovariateItem {
    margin: 2px 0;
}

.modelCitation {
    font-size: 0.9rem;
    color: #666;
}

.modelCitationText {
    margin-left: 10px;
    text-wrap: pretty;
}

.modelLink {
    font-size: 0.9rem;
    color: #666;
}